html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #8E8E8E;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: inherit;
}

header {
  background: #0C0C0E;
  color: #FFFFFF;
  display: flex;
  min-height: 90px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  header h1 {
    font-family: 'Forum';
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }

  header div img {
    width: 28px;
    transition: 0.5s;
  }

  header div img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;  
  }

  header div {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

nav {}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
  }

  nav ul li {
    transition: 0.5s;
    line-height: 50px;
  }

  nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    overflow: hidden;
    transition: 0.5s;
  }

section{}

.welcome {
  height: 600px;
  background: url('assets/img/Welcome.png') no-repeat;
  position: relative;
}

.welcome div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 35px 40px;
  width: calc(600px - 80px);
  height: calc(220px - 70px);
  background: #0C0C0E;
  position: absolute;
  top: 220px;
}

.welcome div h2 {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.welcome div h2 span {white-space: nowrap;}

.section-size {padding: 20px 20px 40px 20px;}

.section-name{}

.section-name h2{
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.section-name__line {
  height: 40px;
  width: 50px;
  border-top: solid 1px #0C0C0E;
  margin: 0 auto;
}

.about {
  padding-bottom: calc(40px - 26px + 16px);
}

.about p {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.about__images {
  margin-top: 20px;
}

.about__images_image {
  display: flex;
  justify-content: space-between;
}

.about__images_button {
  display: flex;
  justify-content: center;
}

.about__images_button div {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(40px - 26px + 16px);
  transition: 0.5s;
}

.about__images_button div button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #0C0C0E;
}

.about__images_button div:nth-child(1) button {background: #BB945F;}

  .about__images_button div:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
    overflow: hidden;
  }

  .about__images_button div button:hover {cursor: pointer;}

.favorites {}

.favorites p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.favorites__pick {
  display: flex;
  justify-content: flex-start;
  gap: 90px;
}

.favorites__pick div {
  margin-top: calc(40px - 5px);
  margin-bottom: calc(40px - 5px);
  display: flex;
  align-items: center;
}

.favorites__pick div input {
  width: 17px;
  height: 27px; /* for more area click */
}

.favorites__pick div label {
  display: flex;
  align-items: center;
  height: 27px; /* for more area click */
  padding-left: 20px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.favorites__books {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
} 

.favorites__books_box {
  width: calc(550px - 2px - 20px);
  height: calc(555px - 30px - 2px);
  border: solid 1px #000000;
  padding: 15px 0 15px 20px;
  margin-right: 40px;
  position: relative;
}

.favorites__books_box img {
  position: absolute;
  right: -40px;
  bottom: -1px;
}

.favorites__books_box button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  background: none;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  transition: 0.5s;
}

  .favorites__books_box button:hover,
  .favorites__books_box button:active,
  .favorites__books_box button:focus {
    cursor: pointer;
    color: #BB945F;
    border-color: #BB945F;
    transition: 0.5s;
  }

.favorites__books_box p {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0;
}

.favorites__books_box_line {
  height: 20px;
  width: 60px;
  border-top: solid 1px #BB945F;
}

.favorites__books_box h2 {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.favorites__books_box_discription {
  margin-top: 20px;
  width: 355px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.unvisible {display: none;}

.coffee p {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-transform: lowercase; 
}
