html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

header {
  background: #0C0C0E;
  color: #FFFFFF;
  display: flex;
  min-height: 90px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  header h1 {
    font-family: 'Forum';
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }

  header div img {
    width: 28px;
    transition: 0.5s;
  }

  header div img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;  
  }

  header div {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

nav {}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
  }

  nav ul li {
    transition: 0.5s;
    line-height: 50px;
  }

  nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    overflow: hidden;
    transition: 0.5s;
  }

section{}

.welcome {
  height: 600px;
  background: url('assets/img/Welcome.png') no-repeat;
  position: relative;
}

.welcome div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 35px 40px;
  width: calc(600px - 80px);
  height: calc(220px - 70px);
  background: #0C0C0E;
  position: absolute;
  top: 220px;
}

.welcome div h2 {
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.welcome div h2 span {white-space: nowrap;}

.section-size {padding: 20px 20px 40px 20px;}

.section-name{}

.section-name h2{
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.section-name__line {
  height: 40px;
  width: 50px;
  border-top: solid 1px #0C0C0E;
  margin: 0 auto;
}

.about {
  padding-bottom: calc(40px - 26px + 16px);
}

.about p {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.about__images {
  margin-top: 20px;
}

.about__images_image {
  display: flex;
  justify-content: space-between;
}

.about__images_button {
  display: flex;
  justify-content: center;
}

.about__images_button div {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(40px - 26px + 16px);
  transition: 0.5s;
}

.about__images_button div button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #0C0C0E;
}

.about__images_button div:nth-child(1) button {background: #BB945F;}

  .about__images_button div:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
    overflow: hidden;
  }

  .about__images_button div button:hover {cursor: pointer;}
