html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 500px;
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font-size: 22px;
  background: none;
  border: none;
  border-bottom: 2px white solid;
  outline: none;
  color: white;
  transition: 2s;
  width: 220px;
  padding-left: 60px;
}

input:hover,
input:focus {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 100vh;
  padding: 0 10px;
}

header {
  position: relative;
  backdrop-filter: blur(5px);
  position: sticky;
  z-index: 5;
  top: 0;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

footer {
  position: fixed;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 20;
  right: 0;
  bottom: 0;
  height: 60px;
  gap: 10px;
  box-sizing: border-box;
  padding-right: 10px;
}

.footer__logo {
  height: 50px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  transition: 1s;
  opacity: 0.5;
}

.footer__logo:hover {
  transform: scale(1.1);
  opacity: 1;
}

.footer__year {
  cursor: default;
  opacity: 0.5;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 5px rgb(0,0,0, 1);
  transition: 1s;
}

.footer__year:hover {
  opacity: 1;
}
